/**
 *  CSS Styles
 *  TODO: Modularize
 */
form {
	width: 		80%;
	margin:		20px auto;
}

fieldset {
	display:	block;
	margin:		inherit inherit 20px inherit;
}

label,
input,
select {
	display:	inline-block;
}

.input-container,
.group-container, {
	display:	block;
}

.error {
	color:		maroon;
}





